/*
|--------------------------------------------|
|                  IMPORTS                   |
|--------------------------------------------|
*/
@use "./variables" as *;
@use "./mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
/*
|--------------------------------------------|
|                   BODY                     |
|--------------------------------------------|
*/
body {
  margin: 0;
  padding: 0;
}
/*
|--------------------------------------------|
|               NAV & HEADER                 |
|--------------------------------------------|
*/
nav {
  font-family: Montserrat;
}
header {
  font-family: Montserrat;
}
.nav-link {
  color: white !important;
  text-transform: uppercase;
}
.nav-link.active {
  color: $text-color !important;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
    url(../assets/img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  background-size: cover;
  height: 100vh;

  .div-player {
    border: 1vw solid $text-color-50;
    border-radius: 50%;
  }
}
/*
|--------------------------------------------|
|               SECTION 1                    |
|--------------------------------------------|
*/
.section1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75)),
    url(../assets/img/about-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  background-size: cover;
  background-position-y: 75%;
  height: 100vh;

  img[src="./public/assets/img/about.jpg"] {
    width: 35vw;
  }
}

// BORDER CORNERS
// .section1-div-img > img {
//   --s: 50px; /* the size on the corner */

//   padding: 20px; /* the gap between the border and image */
//   border: 5px solid #b38184; /* the thickness and color */
//   -webkit-mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
//       calc(100% - var(--s)) calc(100% - var(--s)),
//     linear-gradient(#000 0 0) content-box;
// }

// .section1-div-img {
//   margin: 0;
//   min-height: 100vh;
//   display: grid;
//   place-content: center;
//   align-items: center;
//   grid-auto-flow: column;
//   gap: 80px;
//   background: #655643;
// }
/*
|--------------------------------------------|
|               SECTION 2                    |
|--------------------------------------------|
*/
.cards {
  padding: 3vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
.cards:hover {
  background-image: linear-gradient($card-hover);
  .card-nb {
    color: white !important;
  }
  .card-titre {
  }
  .card-text {
  }
}
/*
|--------------------------------------------|
|               SECTION 3                    |
|--------------------------------------------|
*/
.menu-selection > p > a {
  text-decoration: none;
  color: white;
}
.img-menu {
  border: 0.4vw solid #484642;
}
.food-title1::after {
  content: "................................................................................................................................";
  padding: 1vw;
  width: 50vw;
}
.food-title2::after {
  content: ".........................................................................................................................................";
  padding: 1vw;
  width: 50vw;
}
.food-title3::after {
  content: "...................................................................................................................................";
  padding: 1vw;
  width: 50vw;
}
.food-title4::after {
  content: "........................................................................................................................................";
  padding: 1vw;
  width: 50vw;
}
.food-title5::after {
  content: ".......................................................................................................................................";
  padding: 1vw;
  width: 50vw;
}
.food-title6::after {
  content: "...................................................................................................................................";
  padding: 1vw;
  width: 50vw;
}
.food-title7::after {
  content: "...........................................................................................................................";
  padding: 1vw;
  width: 50vw;
}
.food-title8::after {
  content: "................................................................................................................................";
  padding: 1vw;
  width: 50vw;
}
.food-title9::after {
  content: "..................................................................................................................................";
  padding: 1vw;
  width: 50vw;
}
/*
|--------------------------------------------|
|               SECTION 4                    |
|--------------------------------------------|
*/
.section4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75)),
    url(../assets/img/events-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  background-size: cover;
  height: 100vh;
}
// u {
//   text-decoration-color: $text-color;
// }
.price1::before {
  content: "______";
  position: absolute;
  margin-top: 0.3vw;
  color: $text-color;
}
.price2::before {
  content: "______";
  position: absolute;
  margin-top: 0.3vw;
  color: $text-color;
}
.price3::before {
  content: "_____";
  position: absolute;
  margin-top: 0.3vw;
  color: $text-color;
}
/*
|--------------------------------------------|
|               SECTION 5                    |
|--------------------------------------------|
*/
/*
|--------------------------------------------|
|               SECTION 6                    |
|--------------------------------------------|
*/
.section6-img > div > img {
  width: 24vw;
}
#gallery1,
#gallery2,
#gallery3,
#gallery4 {
  border-bottom: 4px solid #3d382b;
  overflow: hidden;
}
#gallery5,
#gallery6,
#gallery7,
#gallery8 {
  border-bottom: 4px solid #3d382b;
  overflow: hidden;
}
#gallery1 {
}
#gallery2 {
  border-left: 4px solid #3d382b;
}
#gallery3 {
  border-left: 4px solid #3d382b;
}
#gallery4 {
  border-left: 4px solid #3d382b;
  border-right: 4px solid #3d382b;
}
#gallery5 {
}
#gallery6 {
  border-left: 4px solid #3d382b;
}
#gallery7 {
  border-left: 4px solid #3d382b;
}
#gallery8 {
  border-left: 4px solid #3d382b;
  border-right: 4px solid #3d382b;
}
// HOVER
#gallery1 > img:hover,
#gallery2 > img:hover,
#gallery3 > img:hover,
#gallery4 > img:hover,
#gallery5 > img:hover,
#gallery6 > img:hover,
#gallery7 > img:hover,
#gallery8 > img:hover {
  transform: scale(1.08);
  z-index: 0;
  transition: all 500ms ease;
}
/*
|--------------------------------------------|
|               SECTION 7                    |
|--------------------------------------------|
*/
// KEYFRAMES
@keyframes text-appear {
  0% {
    bottom: -25%;
    left: 0;
    width: 100%;
  }
  100% {
    bottom: 0%;
    left: 0;
    width: 100%;
  }
}
@keyframes logo-appear {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
// CODE
.card {
  overflow: hidden;
}
.card-img-overlay:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(1, 1, 1, 0.9)
  );
  transition: 500ms ease;
  animation: text-appear 250ms linear;
}

.card-img-overlay:not(:hover) {
  opacity: 0 !important;
}
.card-img-overlay:hover .card-socials {
  animation: logo-appear 500ms forwards ease-out;
}
// .card-title,
// .card-text:hover {
//   transition: 500ms ease;
//   animation: text-appear 500ms ease 1 normal;
// }

/*
|--------------------------------------------|
|               SECTION 8                    |
|--------------------------------------------|
*/
.btn-subscribe {
  position: absolute;
  right: 13vw;
}
/*
|--------------------------------------------|
|                  FOOTER                    |
|--------------------------------------------|
*/
input[class="form-control border-0 rounded-pill"] {
  background-color: #26241e;
}
