/*
|--------------------------------------------|
|                  IMPORTS                   |
|--------------------------------------------|
*/
@use "./variables" as *;
@use "./mixins" as *;

/*
|--------------------------------------------|
|                   BODY                     |
|--------------------------------------------|
*/
body {
  margin: 0;
  padding: 0;
}
/*
|--------------------------------------------|
|               NAV & HEADER                 |
|--------------------------------------------|
*/
.navbar-nav {
  margin-left: 16vw;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
    url(../assets/img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  background-size: cover;
  height: 100vh;

  .div-player {
    border: 1vw solid $text-color-50;
    border-radius: 50%;
  }
}
/*
|--------------------------------------------|
|               SECTION 1                    |
|--------------------------------------------|
*/
.section1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75)),
    url(../assets/img/about-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  background-size: cover;
  background-position-y: 75%;
  height: 100vh;

  img[src="./public/assets/img/about.jpg"] {
    width: 35vw;
  }
}
/*
|--------------------------------------------|
|               SECTION 2                    |
|--------------------------------------------|
*/
/*
|--------------------------------------------|
|               SECTION 3                    |
|--------------------------------------------|
*/
.menu-selection > p > a {
  text-decoration: none;
  color: white;
}
.img-menu {
  border: 0.4vw solid #484642;
}
.food-title::after {
  content: "...............................................................";
  padding: 1vw;
  width: 50vw;
}
/*
|--------------------------------------------|
|               SECTION 4                    |
|--------------------------------------------|
*/
.section4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75)),
    url(../assets/img/events-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  background-size: cover;
  height: 100vh;
}
/*
|--------------------------------------------|
|               SECTION 5                    |
|--------------------------------------------|
*/
/*
|--------------------------------------------|
|               SECTION 6                    |
|--------------------------------------------|
*/
.section6-img > img {
  width: 20vw;
}
/*
|--------------------------------------------|
|               SECTION 7                    |
|--------------------------------------------|
*/
.section7-img > img {
  width: 30vw;
}
/*
|--------------------------------------------|
|               SECTION 8                    |
|--------------------------------------------|
*/
/*
|--------------------------------------------|
|                  FOOTER                    |
|--------------------------------------------|
*/
input[class="form-control border-0 rounded-pill"] {
  background-color: #26241e;
}
