/*
|--------------------------------------------|
|                   BODY                     |
|--------------------------------------------|
*/
body {
  margin: 0;
  padding: 0;
}
/*
|--------------------------------------------|
|               NAV & HEADER                 |
|--------------------------------------------|
*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
    url(../assets/img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  background-size: cover;
  height: 100vh;
}
nav {
}
/*
|--------------------------------------------|
|               SECTION 1                    |
|--------------------------------------------|
*/
.section1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
    url(../assets/img/about-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  background-size: cover;
  height: 100vh;

  img[src="./public/assets/img/about.jpg"] {
    width: 40vw;
  }
}
.section4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
    url(../assets/img/events-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  background-size: cover;
  height: 100vh;
}