/*
            COLOR PALETTE
|-----------------------------------|
Sections >> background-color: #0C0B08;
Cards >> background-color: #1A1814;
Text >> color: #CCA35C;
Footer >> background-color: #000000;
*/
$section-bg: #0c0a0a;
$card-menu-color: #181611;
$text-color: #cca35c;
$text-color-50: #cca35c77;
$footer-bg: #000000;
$card-hover: #c49851;
$border-color: #958D7B;